Source: ros-fuerte-opencv2
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libv4l-dev,texlive-latex-base,ros-fuerte-catkin,ffmpeg,libavcodec-dev,libavformat-dev,libavutil-dev,libswscale-dev,python-dev,zlib1g-dev,python-numpy,libgtk2.0-dev,libjpeg-dev,libtiff4-dev,python-support,libpng12-dev,libjasper-dev
Homepage: http://opencv.org
Standards-Version: 3.9.2

Package: ros-fuerte-opencv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libv4l-dev,ffmpeg,libavcodec-dev,libavformat-dev,libavutil-dev,libswscale-dev,python-dev,zlib1g-dev,python-numpy,libtiff4-dev,libjpeg-dev,libgtk2.0-dev,python-support,libpng12-dev,libjasper-dev
Description: OpenCV
